* {
  box-sizing: border-box;
  font-family: Arial;
  line-height: 1.4;
}

.hidden {
  display: none;
}

:root {
  /* Colors */
  --color-lucht-blauw: rgb(180 189 208);
  --color-zee: rgb(8 91 100);
  --color-paars-blauw: rgb(51 52 103);
  --color-mos-groen: rgb(109 125 57);
  --color-toren-oranje: rgb(234 91 12);
  --color-white: rgb(255 255 255);
  --color-kauwgom: rgb(249 193 157);

  --color1: var(--color-lucht-blauw);
  --color2: var(--color-zee);
  --color3: var(--color-paars-blauw);
  --color4: var(--color-mos-groen);
  --color5: var(--color-toren-oranje);
  --color6: var(--color-white);
  --color7: var(--color-kauwgom);

  /* Font sizes */
  --font-size-xxl: 2.8rem;
  --font-size-xl: 1.8rem;
  --font-size-l: 1.5rem;
  --font-size-m: 1.2rem;
  --font-size-s: 1rem;
}

.font-size-xxl {
  font-size: var(--font-size-xxl);
}
.font-size-xl {
  font-size: var(--font-size-xl);
}
.font-size-l {
  font-size: var(--font-size-l);
}
.font-size-s {
  font-size: var(--font-size-s);
}
.font-size-s {
  font-size: var(--font-size-s);
}

body {
  margin: 0;
}

.scroll-button-zuidoost,
.scroll-button-oost,
.scroll-button-nieuw-west {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  width: 25px;
  height: 25px;
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
  fill: white;
}

.scroll-button-zuidoost {
  background-color: var(--color2);
}

.scroll-button-oost {
  background-color: var(--color3);
}

.scroll-button-nieuw-west {
  background-color: var(--color4);
}

/* HEADER */
header {
  display: grid;
  place-items: center;
  padding: 1rem;

  @media (min-width: 768px) and (max-width: 1200px) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: 1200px) {
    display: flex;
  }
}

nav {
  display: flex;
  flex-grow: 1;
  justify-content: center;

  ul {
    list-style-type: none;
    display: flex;
    gap: clamp(1.5rem, 5vw, 8rem);
    padding: 0;

    li {
      display: flex;
      justify-content: center;

      a {
        color: var(--color3);
        padding: 0;
        font-size: var(--font-size-s);
        text-decoration: none;

        @media (min-width: 480px) {
          font-size: var(--font-size-m);
        }

        @media (min-width: 1024px) {
          font-size: var(--font-size-l);
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

a {
  font-family: "BuurtCampusArial-Bold", Arial;
  text-transform: uppercase;
  color: var(--color3);
  font-size: var(--font-size-l);
  text-decoration: none;

  h1 {
    margin: 0;
    @media (min-width: 480px) {
      font-size: var(--font-size-xl);
    }

    @media (min-width: 1024px) {
      font-size: var(--font-size-xxl);
    }
  }
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 2rem;
}

.article-nav {
  background-color: var(--color3);
  display: flex;
  flex-direction: column;
  max-width: 208px;
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem;

  .svg-filter {
    width: 18px;
    margin-right: 0.5rem;
  }

  a {
    color: var(--color6);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .filter {
    color: var(--color6);
    font-size: var(--font-size-l);
    margin: 0;
    font-weight: 700;
  }

  button {
    width: fit-content;
    background: none;
    border: none;
    color: var(--color6);
    font-size: var(--font-size-m);
    padding: 0.1rem;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }

    &:focus {
      padding-left: 1rem;
    }
  }
}

.articles {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr; /* Op mobiel 1 kolom */

  @media (min-width: 678px) {
    grid-template-columns: 1fr 1fr; /* Op tablet 2 kolommen */
  }

  @media (min-width: 1100px) {
    grid-template-columns: 1fr 1fr 1fr; /* Op desktop 3 kolommen */
  }
}

@keyframes --jump-in {
  0% {
    translate: 0 1em;
    opacity: 0.85;
  }
  100% {
    translate: 0 0;
    opacity: 1;
  }
}

.article-header {
  color: var(--color3);

  @media (min-width: 678px) {
    grid-area: 1 / 1 / 2 / 3;
  }

  @media (min-width: 1100px) {
    grid-area: 1 / 1 / 2 / 4;
  }
}

article {
  animation-name: --jump-in;
  animation-duration: 0.25s;
  animation-timing-function: ease;

  max-width: 300px;

  a {
    text-decoration: none;
  }

  .image-container,
  .image-container-onderwijs,
  .image-container-stagairs,
  .image-container-hulp {
    height: 300px;
    width: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 5px;
  }

  .image-container-onderwijs {
    background-color: var(--color1);
  }

  .image-container-stagairs {
    background-color: var(--color7);
  }

  .image-container-hulp {
    background-color: var(--color7);
  }

  img {
    display: block;
    object-fit: cover;
    transition: all 0.5s ease;
  }

  .img-vertical {
    width: 100%;
  }

  img:hover {
    transform: scale(1.1);
  }

  h3 {
    margin: 0;
    color: var(--color3);

    &:hover {
      text-decoration: underline;
    }
  }
}

footer {
  background-color: var(--color1);
  max-height: fit-content;
  display: flex;
  flex-direction: column;

  @media (min-width: 510px) {
    flex-direction: row;
  }

  gap: 1rem;
  padding: 2rem 1rem;

  h4 {
    font-size: var(--font-size-m);

    @media (min-width: 510px) {
      font-size: var(--font-size-l);
    }

    margin: 0 3rem 0 0;
    display: flex;
    flex-direction: column;
  }

  form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .input-field {
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: var(--font-size-s);
    max-width: 300px;
  }

  .submit-button {
    background-color: var(--color3);
    color: var(--color6);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5rem;
    width: fit-content;
    margin-top: 0.25rem;
    font-size: var(--font-size-s);
  }
}
